/* ? Nav Bar */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    }

    .nav-center {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    }

    .nav-header h1 {
    font-size: 28px;
    }

    .links {
    display: flex;
    margin-top: 15px;
    }

    .links li {
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    text-transform: capitalize;
    }

    .links li a {
    color: black;
    transition: color 0.4s ease-in-out;
    }

    .links li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #8333CF;
        display: block;
        margin: auto;
        transition: 0.5s; }

    .links li:hover::after {
        width: 100%; }

    .social-icons {
    display: flex;
    }

    .social-icons li {
    font-size: 18px;
    margin: 0 4px;
    }

    .fab {
    color: black;
    }

    .fab:hover {
    color: #1D3444;
    }

    .nav-toggle {
    display: none;
    }

    main {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    @media (max-width: 700px) {
    .nav-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 30px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: transform 0.6s ease-in-out;

    }

    .nav-toggle:hover {
        transform: rotate(90deg);
    }

    .links {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92vh;
        top: 8vh;
        left: -100%;
        transition: transform 1s ease-in-out;
        background-color: black;
        overflow: hidden;
    }

    .links li a {
        color: #fff;
        translate: all 0.6s ease-in-out;
        font-size: 16px !important;
    }

    .links li a:hover {
        color: #fff;
        font-weight: 600;
    }

    .active {
        transform: translatex(100%);
    }
    .social-icons {
        display: none;
    }

    .mofys-container {
        flex-direction: column;
        width: 200px;
        padding-bottom: 0px;
    }

    .mofys-image {
        max-width: 65.3vh;
    }
    .lead-container{
        flex-direction: column;
        display: none;
    }

    #responsive-cont {
        margin-left: 0;
    }

    #responsive-text h1 {
        font-size: 40px;
    }

    #responsive-serv {
        margin-left: 5px;
    }

    .lead-par {
        display: none;
    }
    }
.nav-header img{
    height: 69px;
}
/* ? Header */

.leadPic {
    background-color: rgb(252, 251, 251);
}

.lead-container{
    background-color: rgb(252, 251, 251);
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-right: 55px;
    margin-left: 340px;
    margin-right: 140px;
    padding-bottom: 120px;

}

.lead-container h1 {
    line-height: 1;
    max-width: 50%;
    font-size: 50px;
    font-weight: 600;
    margin: 30px;
}

.lead-par {
    margin: 25px;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8432D0;
}

.lead-fy {
    color: #8333CF;
}

.emptyImage {
    width: 55vh;
    border-radius: 15px;
}
/* ? Carrousel */
.servicios{
    margin: 0 auto;
    width: 770px;
    margin-top: 65px;
}
@media screen and(max-width:450px){
    .servicios{
        margin: 0px !important;
        width: 0px;
        margin-left: 0px !important;
        margin-right: 0px;
    }
}
.servicios h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: center;

}
.servicios p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #5B5B5B;
    text-align: center;
    font-size: 22px
    ;
}
/* ? Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1200px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #8333CF;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #000;
	border: 1px solid #8333CF;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #8333CF;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/* ? Fin-Cards*/

/* ? Sanidad  */
.sanidad{
    height: 600px;
    background:  #D8C1F9;
    margin-top: 90px;

}

.sanidad h2{
    font-family:'Poppins', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #8432D0;
    padding-top: 20px;
    }
.sanidad p{
font-family: 'Poppins', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.03em;
text-align: center;

}
/* ? Persona */
.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }
  .caras{
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      margin-top: 55px;
  }
  .sanidad h4{
      letter-spacing: 0rem;
  }

  /* ? Mofys */

.mofys {
    background-color: #000;
}

.mofys-container{
    background-color: rgb(252, 251, 251);
    color: #1D3444;
    display: flex;
    justify-content: space-around;

}

.mofys-text {
    background-color: #00A19A;
}

.mofys-text h3 {
    color: white;
    font-weight: 500;
    margin: 25px;
    margin-top: 90spx;
    margin-left: 100px;
    font-size: 6vh;
    padding: 25px;
    margin-top: 50px;
}


.mofys-image {
    width: 100vh;
}

  /* ? -------------------------------------Footer------------------------------------------- */
  .pie-pagina{
    width: 100%;
    background-color: #000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 230px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 26px;
}
.pie-pagina .grupo-1 .box a{
    color: #efefef;
    margin-bottom: 10px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 a:hover{
    color: #8333CF;

}
.red-social{
    display: flex;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #8333CF;
}
.pie-pagina .grupo-2{
    padding: 10px 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.pie-pagina .grupo-2 .der{
    text-align: right;
}
.pie-pagina .grupo-2 .der a{
    color: #efefef;
    margin-bottom: 10px;
    transition: 0.5s;
}
.pie-pagina .grupo-2 .der a:hover{
        color: #8333CF;
    }
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.box figure a h2{
    font-family: 'Poppins', sans-serif;
    font-size: 442px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    margin-top: 20px;
}
.box{
    margin-top: 30px;
}
.columna1{
    height: 100% !important;
    margin-top: 0px;
}
.columna2{
    margin-top: 140px;
    margin-left: 40px;
    font-size: 19px;
}
.columna2 h4{
    color: #fff;
    font-weight: 600;
}
.columna3{
    margin-top: 100px !important;
    margin-left: 40px;
    font-size: 19px;
}
.columna3 h4{
    color: #fff;
    font-weight: 600;
}

/* ? Testimonios */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 430px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
    }
    figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    figure.snip1192 img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
    }
    figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    } 
    figure.snip1192 blockquote h2{
        font-size: 25px;
        word-spacing: normal;
        line-height: 2.4rem;
    }
    figure.snip1192 blockquote:before,
    figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
    }
    figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
    }
    figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
    }
    figure.snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    }
    figure.snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
    }
    figure.snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
    }
.testimonio{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.testimonios h2{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    text-align: center;
}
.testimonios p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #5B5B5B;

}
/* ?nav */
.links li a {
    font-size: 19px;
}
/* ? Maps  */
.containerSanidad {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Text Iframe";
    width: 100%;
    height: 700px;
    margin-top: 60px;
  }
  .Text {
    display: grid;
    grid-template-columns: 0.5fr 1.9fr 0.6fr;
    grid-template-rows: 0.35fr 0.6fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Title ."
      ". Info ."
      ". Datos .";
    grid-area: Text;
    margin-top: 60px;
    margin-left: 120px;
  }
  .Info p{
    font-size: 21px;
    font-style: normal;
    text-align: left;
    color: #8432D0;
    letter-spacing: -3%;
    
  }
  .Title h2{
      font-size: 44px;
      font-weight: 900;
      color: #0A1A2A;
  }
  .Title { grid-area: Title; }
  .Datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "number number2"
      "numbertitle numbertitle2"
      "numbertext numbertext2";
    grid-area: Datos;
  }
  .number { grid-area: number; }
  .number2 { grid-area: number2; }
  .numbertitle { grid-area: numbertitle; }
  .numbertitle2 { grid-area: numbertitle2; }
  .numbertext { grid-area: numbertext; }
  .numbertext2 { grid-area: numbertext2; }
  .Info { grid-area: Info; }
  .Iframe {
    display: grid;
    grid-template-columns: 0.5fr 1.9fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Img ."
      ". Img ."
      ". Img .";
    grid-area: Iframe;
    margin-top: 60px;
  }
  .Img { grid-area: Img; }
  .number2{
      font-size: 70px;
      color: #8333CF;
      font-weight: 700;
  }
  .number{
    font-size: 70px;
    color: #8333CF;
    font-weight: 700;
    height: 20px;
}
.numbertitle {
    font-size: 25px;
    font-weight: 600;
    color: #0A1A2A;
}
.numbertitle2 {
    font-size: 25px;
    font-weight: 600;
    color: #0A1A2A;
}
.numbertext{
    margin-right: 5px;
}
.maps {
    width: 100%;
    padding-right: 180px;
}
.img iframe{
    height: 900px;
}